@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
    /*! margin: 30px; */
}
 body{
    font-family: 'Open Sans', sans-serif;
 }
 image{
    max-width: 100%;
    display: block;
 }

 header{
    background-image: url(../images/header\ picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(134, 80, 185);
    background-blend-mode: multiply;

 }

 .container{
    width: 1100px;
    margin: auto;
    padding: 15px;
 }
 .flex{
    display: flex;
 }

 .logo{
    width: 15%;
 }

 .logo h2{font-size: 22px;color: wheat;font-weight: 600;}
 .logo h2 span{font-size: 20px;font-weight: 400;display: block;}

 nav{
    width: 85%;
 }

 nav ul{display: flex;justify-content: end;}

 nav ul li{list-style: none;}

 nav ul li a{color: White;/*! text-align: justify; */text-decoration: none;padding: 21px;font-size: 18px;font-weight: 20px;font-weight: 600;}

/* banner start */

.banner-content{
    padding: 150px 0;
    text-align: center;
    color: cornsilk;
}


.banner-content h3{font-size: 40px;/*! font-size: ; */font-style: italic;font-weight: 500;/*! padding: unset; */margin-bottom: 5px;}

.banner-content span{width: 150px;height: 10px;background-color: rgba(238, 13, 189, 0.986);display: block;margin: auto;border-radius: 12px;/*! padding-top: 1px; */}

.banner-content h1{font-size: 64px;font-weight: 600;/*! margin: 49px; */margin-bottom: 25px;margin-top: 35px;}

.banner-content a{color: white;text-decoration: none;letter-spacing: 4px;text-transform: uppercase;
background-color: rgba(238, 13, 189, 0.986);
padding: 12px;
border-radius: 34px;
/*! margin: 12px; */
/*! margin: 30px; */
}

.event{
   padding-top: 60px;
   font-size: 30px;
   color: blueviolet;
   text-align: center;
   font-weight: 600;
}

.event h2{
   padding-bottom: 5px;

}

.event span{
   width: 150px;height: 10px;
   background-color: rgba(238, 13, 189, 0.986);display: block;
   margin: auto;border-radius: 12px;/*! padding-top: 1px; */
  margin-bottom: 35 px;
  
}


.feature{}

 .col-1-2 {
   padding: 30px;
   text-align: center;
 }

 .col-1-2  h2 {padding-top: 24px;
              padding-bottom: 10px;
              }

 .col-1-2  p {}

 .col-1-2  a {text-decoration: none;
   padding-top: 10px;
   display: block;/*! color: color-mix; */letter-spacing: 2px;
}

.col-1-2  img {height: 336px;
   width: 444px;
   object-fit: cover;
   border-radius: 10px;

box-shadow: 10px 10px 2px gray;
}

/* magical-section */

.magical-section{
   background-image: url(../images/middle.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-color: rgba(154, 74, 230, 0.788);
   background-blend-mode: multiply;
   padding: 200PX 0;
   margin-top: 69px;
background-attachment: fixed;
}

.for-flex{
   display: flex;
   justify-content: end;
   
}
.column{
   width: 50%;
   
}

.column h2{
   color: #56ffb0;
   font-size: 46px;
}

.column span{
   width: 150px;
   height: 7px;
   background-color: rgba(238, 13, 189, 0.986);display: block;
   border-radius: 12px;
}
  
.column p{
   color: white;
   font-size: 20px;
   margin: 27px 0 20px 0;
}

.column a{text-decoration: none;color: #08f4c8;letter-spacing: 5px;}